<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key = "connectionstring" value= "Server=DESKTOP-ROBHQ7Q;Database=Console Database;Trusted_Connection=True"/>
        <add key = "filerootpath" value="C:/Users/Workstation/Desktop/AppConsole/Main"/>
    </appSettings>
</configuration>