<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key = "connectionstring" value= "Server=DESKTOP-ROBHQ7Q;Database=Console Database;user id=sa;password=root"/>
        <add key = "iparootpath" value="http://beta.console.com/Main"/>
    </appSettings>
</configuration>